
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "TeamView";
    var captain = ViewData["Captain"] as User;
    var hasBoat = ViewData["hasBoat"] as string;
    var boat = new Boat();
    if (hasBoat == "true")
    {
        boat = ViewData["Boat"] as Boat;
    }
    var hasPit = ViewData["hasPit"] as string;
    var pit = new User();
    if (hasPit == "true")
    {
        pit = ViewData["Pit"] as User;
    }
}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <h4>Captain @captain.FirstName</h4>
                            <p>Email: @captain.Email</p>
                            <p>Phone: @captain.MobilePhoneNumber</p>
                            <p>Points: @captain.Points</p>
                            @if (hasBoat == "true")
                            {
                                <h4>Boat</h4>
                                <p>Beam: @boat.Beam</p>
                                <p>Beam Measurement: @boat.BeamM</p>
                                <p>Type: @boat.Type</p>
                                <p>Drive System: @boat.DriveSystem</p>
                                <p>Hull Height: @boat.HullHeight</p>
                                <p>Hull Height Measurement: @boat.HullHeightM</p>
                                <p>Hull Material: @boat.HullMaterial</p>
                                <p>Length: @boat.Length</p>
                                <p>Length Measurement: @boat.LengthM</p>
                                <p>Motor Size: @boat.MotorSize</p>
                                <p>Propeller Size: @boat.PropellerSize</p>
                                <p>Radio: @boat.Radio</p>
                                <p>Scale: @boat.Scale</p>
                                <p>Scale Measurement: @boat.ScaleM</p>
                                <p>Speed: @boat.Speed</p>
                                <p>Speed Measurement: @boat.SpeedM</p>
                                <p>Speed Control: @boat.SpeedControl</p>
                                <p>Steering: @boat.Steering</p>
                                <p>Coluors: @boat.Coluors</p>
                                <p>Weight: @boat.Weight</p>
                                <p>Weight Measurement: @boat.WeightM</p>
                                
                            }
                            @if (hasPit == "true")
                            {
                                <h4>Pit @pit.FirstName</h4>
                                <p>Email: @pit.Email</p>
                                <p>Phone: @pit.MobilePhoneNumber</p>
                                <p>Points: @pit.Points</p>
                            }
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
